*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: aqua;
}
nav{
    height: 60px;
    background-color: gray;
}
li{
    text-align: center;
    float: left;
    line-height: 60px;
}
ul{
    list-style-type: none;
    padding: 0;
}
li a{
text-decoration: none;
color: black;
display: block;
height: 60px;
}
li a:hover{
    background-color: brown;
}
.wrapper{
    width: 1000px;
    margin: 0 auto;
}
a{
    height: 60px;
    width: 250px;
    text-align: center;
    line-height: 60px;
    font-size: large;
}
main{
    background-color: aliceblue;
    padding: 10px;
}
#logo{
    float: right;
    width: 125px;
    height: 125px;
    padding-left: 8px;
}
.velikoSlovo::first-letter{
    font-size: xx-large
}
p{
    text-align: justify;
}
figure img{
    height: 150px;
    display: block;
    width: auto;
    margin: 0 auto;
}
figcaption{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
}
hr{
    margin: 15px 0;
}
h2{
    margin-bottom: 10px;
}
.slike img{
    height: 25%;
    width: 25%;
    display: inline-block;
    padding: 0 100px;
}
.slike{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}
.rase img{
    width: 100%;
    height: auto;
    border: green 1px solid;
}
.rase a:hover img{
    border: blue 2px solid;
}
.rase figure figcaption{

    font-size: 20px;
    font-weight: bold;
} 
ul li ul{
    display: none;
    position: absolute;
    background-color: gray;
}
ul li{
    position: relative;
}
ul li:hover ul{
    display: block; 
}